.container {
  max-width:600px;
  margin: 0 auto;
  background-color:#A1C2DE;
  border: 10px solid #545151;
  padding:15px;
}
body {
  background-color: #224766;
  font-family: monospace;
}
#left-column {
  float: left;
  width: 50%;
  padding: 0px;
  margin: 0 auto;
  }
#right-column {
  float: right;
  width: 50%;
  padding: 0px;
  margin: 0 auto;
}
@media (min-width 650px) {

}
